[submodule "ServingStudioSim"]
	path = ServingStudioSim
	url = https://github.com/pynterest83/ServingStudioSim.git
	branch = h200-host-vllm-profile-env
[submodule "ServingStudioAgent"]
	path = ServingStudioAgent
	url = https://github.com/SyFI-ServingStudio/ServingStudioAgent.git
	branch = main
[submodule "ServingStudioUI"]
	path = ServingStudioUI
	url = https://github.com/SyFI-ServingStudio/ServingStudioUI.git
	branch = main
[submodule "ServingStudioIntro"]
	path = ServingStudioIntro
	url = https://github.com/SyFI-ServingStudio/ServingStudioIntro.git
	branch = main
